header {
    color: white;
    padding: 10px;
} 

body {
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(bgr.jpg);
    height: 100vh;
    background-size: cover;
    background-position:bottom;
}


.logo img{
    width: 35%;
    height: 400px;
}

.box h2{
    width: 660px;
    height: 500px;
    position: absolute;
    top: 20%;
    left: 38%;
}
.box h3{
    width: 660px;
    height: 500px;
    position: absolute;
    top: 25%;
    left: 38%
    
}

ul{
	float: right;
	list-style-type: none;
	margin-top: 25px;
	margin-right: 50px;
}

ul li {
	display: inline-block;
}

ul li a{
	text-decoration: none;
	color: #fff;
	padding:5px 20px;
	border:1px solid ;
	transition: 0.5s ease;
	border-radius: 10px;
}



h3  {
      height:20%;
    font-family: Times New Roman;
    text-transform: uppercase;
    color: white;

}

h2 {
    color:aliceblue;
}

}